body {
  background-image: url("/src/images/table/table_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}


/*Titulo*/
h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: gold;

  text-shadow:
    0 0 5px #fff,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff8800,
    0 0 80px #ffcc00;

  animation: casinoLights 1s infinite alternate;
}

@keyframes casinoLights {

  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ff0000,
      0 0 20px #ff0000,
      0 0 40px #ff8800;
  }

  50% {
    text-shadow:
      0 0 5px #fff,
      0 0 15px #00ffcc,
      0 0 25px #00ffcc,
      0 0 50px #00ffff;
  }

  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 15px #ff00ff,
      0 0 25px #ff00ff,
      0 0 50px #ff66ff;
  }

}



/*MESSAGE*/
#message {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 40px;
  font-weight: bold;
  color: gold;

  background: rgba(0,0,0,0.8);
  padding: 25px 50px;
  border-radius: 12px;

  box-shadow: 0 0 20px rgba(255,215,0,0.7);
}

#message:empty {
  display: none;
}

/*POINTS*/
#dealer-points,
#player-points {
  width: 40px;
  height: 40px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-weight: bold;
  color: rgb(0, 0, 0);

  border-radius: 50%;
  position: relative;

  background: radial-gradient(
    circle at 35% 30%,
    rgba(255,255,255,0.9),
    rgba(255,255,255,0.4) 35%,
    rgba(120,180,255,0.25) 55%,
    rgba(40,80,150,0.35) 75%,
    rgba(10,30,60,0.6)
  );

  border: 2px solid rgba(255,255,255,0.3);

  box-shadow:
    inset -15px -15px 30px rgba(0,0,0,0.4),
    inset 10px 10px 25px rgba(255,255,255,0.6),
    0 10px 30px rgba(0,0,0,0.6);
}

#dealer {
  margin-bottom: 80px;
}




/*RENDER CARTAS*/
.cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.cards .card:not(:first-child) {
  margin-left: -30px;
}

.card-img {
  width: 80px;
  height: 120px;
  position:relative;
  border-radius: 8px;
  border: 2px solid #222;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.card-img:hover {
  transform: translateY(-5px);
}

.card-face {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  backface-visibility: hidden;

  border-radius: 8px;
  border: 2px solid #222;
}


/*VIRAR CARTA*/

/* animação de carta entrando */
.card {
  width: 80px;
  height: 120px;
  position: relative;
  animation: slideCard 0.6s ease;
}

.card-enter {
  animation: slideCard 0.4s ease;
}

@keyframes slideCard {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideCard {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.flip-card {
  width: 80px;
  height: 120px;
  position: relative;
  perspective: 1000px;
}

.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;

  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

/* rotação */
.flip-card.flipped .flip-inner {
  transform: rotateY(180deg);
}

/* frente e verso */
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  backface-visibility: hidden;
  border-radius: 8px;
}

/* frente da carta */
.card-front {
  transform: rotateY(180deg);
}

/*BUTTONS*/

#controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*BUTTON HIT*/

#hit {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#hit:hover {
  background-color: #9bff29;
  box-shadow: green 0 -6px 8px inset;
  transform: scale(1.125);
}

#hit:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  #hit {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

/*BUTTON STAND*/

#stand {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#stand:hover {
  background-color: #ffcd29;
  box-shadow: rgb(105, 128, 0) 0 -6px 8px inset;
  transform: scale(1.125);
}

#stand:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  #stand {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


/*RESTART BUTTON*/

#restart {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#restart:hover {
  background-color: #ffa929;
  box-shadow: rgb(128, 26, 0) 0 -6px 8px inset;
  transform: scale(1.125);
}

#restart:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  #restart {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


section{
  text-align: center;
}
























/* CSS */
